name: Check allowed licenses
on:
  pull_request:
    branches:
      - main
      - beta

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  CI: true

jobs:
  path-filter:
    name: Determine if workflow should run
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 2
    outputs:
      code: ${{ steps.changes.outputs.code }}
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        if: github.event_name != 'workflow_dispatch'
        id: changes
        with:
          filters: |-
            code:
              - '**'
              - '!**/*.md'
  check-dotnet:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: >-
      (github.event_name == 'workflow_dispatch' ||
        needs.path-filter.outputs.code == 'true')
      && !cancelled()
    needs:
      - path-filter
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Setup Dotnet
        id: dotnet-setup
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            10.0.x
            9.0.x
            8.0.x
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: DotNet tools restore
        run: dotnet tool restore
      - name: DotNet restore
        run: dotnet restore
      - name: Check licenses
        run: >-
          dotnet packageguard 
          --configPath allowed-licenses.json
          --github-api-key ${{ secrets.GITHUB_TOKEN }}
          ./Distroless.slnx
