name: Qodana
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - beta
  push:
    branches: # Specify your branches here
      - main # The 'main' branch
      - 'releases/*' # The release branches

permissions:
  contents: none

jobs:
  qodana:
    runs-on: ubuntu-latest
    environment: Dev
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
      checks: write
      security-events: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Setup Dotnet
        id: dotnet-setup
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            10.0.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis
          persist-credentials: 'false'
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@42dad391966aca8ca344ca2340a7f43a5507e9b2 # v2025.3.1
        with:
          pr-mode: ${{ github.event.pull_request != null }}
          args: --configuration=Release,--no-statistics=true,--linter=qodana-dotnet,--within-docker,false
          upload-result: true
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
      - name: Upload SARIF to GitHub
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        if: ${{ !cancelled() }}
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
          category: 'qodana'
