name: opencode

on:
  issue_comment:
    types: [ created ]

jobs:
  opencode:
    if: |
      (
        startsWith(github.event.comment.body, '/oc') ||
        startsWith(github.event.comment.body, '/opencode')
      ) &&
      (
        github.event.comment.author_association == 'OWNER' ||
        github.event.comment.author_association == 'MEMBER' ||
        github.event.comment.author_association == 'COLLABORATOR'
      )
    runs-on: ubuntu-latest
    environment: Dev
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run opencode
        uses: sst/opencode/github@0917991361ff91270db561ce18d576267b6aad2e # github-v1.2.11
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          model: opencode/big-pickle
