name: Tests
on:
  pull_request:
    branches:
      - main
      - beta
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  DOTNET_NOLOGO: 'true'
  DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
  CI: 'true'
  TESTINGPLATFORM_TELEMETRY_OPTOUT: '1'
  HEALTHCHECK_IMAGE_NAME: distroless-dotnet-healthchecks
  HEALTHCHECK_IMAGE_TAG: test

jobs:
  path-filter:
    name: Determine if workflow should run
    runs-on: ubuntu-latest
    timeout-minutes: 2
    outputs:
      code: ${{ steps.changes.outputs.code }}
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        if: github.event_name != 'workflow_dispatch'
        id: changes
        with:
          filters: |-
            code:
              - '**'
              - '!**/*.md'
  build-healthcheck:
    if: >-
      (github.event_name == 'workflow_dispatch' ||
        needs.path-filter.outputs.code == 'true')
      && !cancelled()
    runs-on: ${{ matrix.os }}
    needs: path-filter
    strategy:
      fail-fast: false
      matrix:
        platform:
          - amd64
          - arm64
        base-image-type:
          - ubuntu-chiseled
          - alpine
        include:
          - target-os: linux
          - platform: amd64
            os: ubuntu-latest
          - platform: arm64
            os: ubuntu-24.04-arm
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: docker_build
        with:
          context: .
          file: src/Distroless.HealthChecks/Dockerfile
          target: binary
          platforms: ${{ matrix.target-os }}/${{ matrix.platform }}
          build-args: |
            BASE_IMAGE_TYPE=${{ matrix.base-image-type }}
          push: false
          tags: ${{ env.HEALTHCHECK_IMAGE_NAME }}:${{ env.HEALTHCHECK_IMAGE_TAG }}
          outputs: type=docker,dest=${{ runner.temp }}/image.tar
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.HEALTHCHECK_IMAGE_NAME }}-${{ matrix.target-os }}-${{ matrix.platform }}-${{ matrix.base-image-type }}
          path: ${{ runner.temp }}/image.tar

  test:
    needs:
      - build-healthcheck
      - path-filter
    if: >-
      (github.event_name == 'workflow_dispatch' ||
        needs.path-filter.outputs.code == 'true')
      && !cancelled()
    strategy:
      fail-fast: false
      matrix:
        platform:
          - amd64
          - arm64
        base-image-type:
          - ubuntu-chiseled
          - alpine
        include:
          - target-os: linux
          - platform: amd64
            os: ubuntu-latest
          - platform: arm64
            os: ubuntu-24.04-arm
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/test-workflow.yml
    with:
      runs-on: ${{ matrix.os }}
      healthcheck_image: distroless-dotnet-healthchecks:test
      base-image-type: ${{ matrix.base-image-type }}
      healthcheck_artifact: distroless-dotnet-healthchecks-${{ matrix.target-os }}-${{ matrix.platform }}-${{ matrix.base-image-type }}
  success:
    timeout-minutes: 2
    if: ${{ always() }}
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Fail if test job failed
        if: ${{ needs.test.result == 'failure' }}
        run: exit 1
      - name: Fail if test job was cancelled
        if: ${{ needs.test.result == 'cancelled' }}
        run: exit 1
      - name: Success
        run: echo "Success"
